*.sh text eol=lf

# Bundled font assets are pinned by sha256 in per-family manifests. Prevent
# Windows autocrlf conversion from changing checksummed licenses/build plans,
# and make the binary treatment of font files explicit.
assets/fonts/**/*.txt text eol=lf
assets/fonts/**/*.md text eol=lf
assets/fonts/**/*.toml text eol=lf
assets/fonts/*/LICENSE text eol=lf
assets/fonts/**/*.ttf binary
