/target
__pycache__/
*.py[cod]
third_party/conpty/*.nupkg
**/tests/snapshots/*.diff.png
**/tests/snapshots/*.new.png
**/tests/snapshots/*.old.png

.git_commit_msg.txt
.session-screenshot.ps1
.shot.png
.session-screenshot.png
